<%- include('../template/head') -%>
<%- include('../template/nav') -%>

<div class="container-login">
    <div class="content-home text-center">
        <form class="form" action="/auth/reset-password/confirm" method="POST">
            <input type="hidden" value=<%= user_id%> name="user_id">
            <div class="input-form">
                <label for="passOld">Contrase単a vieja</label>
                <input id="passOld" type="password" name="passOld" required />
            </div>
            <div class="input-form">
                <label for="passNew1">Nueva contrase単a</label>
                <input id="passNew1" type="password" name="passNew1" required />
            </div>
            <div class="input-form">
                <label for="passNew2">Repite la contrase単a</label>
                <input id="passNew2" type="password" name="passNew2" required />
            </div>
            <button class="btn btn-login btn-click" type="submit">
                Cambiar contrase単a
            </button>
        </form>
    </div>
</div>
<%- include('../template/footer') -%>