<%- include('../template/head') -%>
<%- include('../template/nav') -%>

<div class="container-login">
    <div class="content-home">
        <h2>Mantente organizado con Taskit</h2>
        <a class="btn-home btn-click" href="/login">
            Comienza ahora
        </a>
    </div>
</div>
<%- include('../template/footer') -%>