<%- include('../template/head') -%><div class="container-login">
    <div class="content-home text-center">
        <p>Hemos enviando el link de confirmación de cuenta al correo <b><%= email%></b>, revisalo por fa ;)</p>
        <a class="btn-home btn-click" href="/login">
            Volver a inicio
        </a>
    </div>
</div>