<%- include('../template/head') -%><div class="container-login">
    <div class="content-home text-center">
        <p>Hemos enviando link de cambio de contraseña al correo <b><%= email%></b>, revisalo por fa ;)</p>
        <a class="btn-home btn-click" href="/tareas">
            Volver a nuestro dashboard
        </a>
    </div>
</div>