    <footer>
        <span>programado y diseñado por <b><a href="https://bsquiroz.github.io/Portfolio/"
                    target="_blank">Bsquiroz</a></b> con mucho
            ❤️</span>
    </footer>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/assets/js/main.js"></script>
    </body>

    </html>