<nav class="navigation" id="menu">
    <span class="logo"><a href="/">Taskit</a></span>
    <ul class="menu">
        <li class="btn-click"><a href="/">Inicio</a></li>
        <li class="btn-click"><a href="/login">iniciar sesión</a></li>
        <li class="btn-click"><a href="/registro">registrarse</a></li>
    </ul>
</nav>
<div class="icon-menu btn-click" id="icon-toggle">
    <ion-icon class="active" id="menu-open" name="grid-outline"></ion-icon>
    <ion-icon class="no-active" id="menu-close" name="close-outline"></ion-icon>
</div>